<nb-card>
  <nb-card-header>{{ panelTitle }}</nb-card-header>
  <nb-card-body>
    <form [formGroup]="form" (submit)="onSaveMeetingroom()" *ngIf="!isLoading">
      <div class="form-group">
        <input 
              type="text" 
              class="form-control" 
              formControlName="meetingroomName"
              placeholder="Meetingroom Name" 
              >
      </div>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="File Name" readonly="readonly" [value]="imageName">
        <span class="input-group-append">
          <button 
                  type="button" 
                  class="btn btn-success input-group-text"
                  (click)="filePicker.click()">
            Upload
          </button>
          <input type="file" class="form-control" #filePicker (change)="onImagePicked($event)" hidden>  
        </span>
      </div>
      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
          <img [src]="imagePreview" [alt]="form.value.name" style="height:300px" >
        </div>
      <div class="d-flex flex-row-reverse bd-highlight">
        <button nbButton shape="rectangle" status="success" class="btn-demo" type="submit">SUBMIT</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>