<nb-card>
  <nb-card-header style="position: relative">
    <span class="spacer"></span>
    <button class="btn btn-outline-success btn-icon" routerLink="/pages/meetingroom/meetingroom-create">
      <i class="nb-plus-circled"></i>
    </button>
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table 
    [settings]="settings" 
    [source]="serverDataSource"
    (deleteConfirm)="onDeleteConfirm($event)"
    (userRowSelect)="onUserRowSelect($event)"
    >
    </ng2-smart-table>
    
    <!-- <mat-paginator
    class="ng2-smart-pagination-nav"
     [length]="totalMeetingrooms" [pageSize]="meetingroomsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
  *ngIf="meetingrooms.length > 0"></mat-paginator> -->
    <br />
  </nb-card-body>
</nb-card>
