<mat-accordion multi="true" *ngIf="devices.length > 0">
  <mat-expansion-panel *ngFor="let device of devices">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ device.name }}
      </mat-panel-title>
      <mat-panel-description>
        {{ device.createdBy }} | {{ device.createdDate }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{ device.id }}</p>
    <p>{{ device.macAddress }}</p>
    <mat-action-row>
      <button mat-icon-button color="primary">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="onDelete(device.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="devices.length <= 0">No Device Added Yet</p>