<div class="row">
  <div class="col-xxxl-3 col-md-6" *ngFor="let statusCard of statusCards">
    <ngx-status-card [title]="statusCard.title" [type]="statusCard.type">
      <i [ngClass]="statusCard.iconClass"></i>
    </ngx-status-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-md-6">
    <ngx-co2 [co2Value]="co2Value"></ngx-co2>
  </div>
  <div class="col-xxxl-3 col-md-6">
    <ngx-pm25 [pm25Value]="pm25Value"></ngx-pm25>
  </div>
  <div class="col-xxxl-3 col-md-6">
    <ngx-humidity [humidityValue]="humidityValue"></ngx-humidity>
  </div>
  <div class="col-xxxl-3 col-md-6">
    <ngx-temperature [temperatureValue]="temperatureValue"></ngx-temperature>
  </div>
  <div class="col-xxxl-6 col-xxl-12 col-lg-6 col-md-12">
    <ngx-security-cameras></ngx-security-cameras>
  </div>
  <div class="col-xxxl-6 col-xxl-12 col-lg-6 col-md-12">
    <ngx-weather></ngx-weather>
  </div>
</div>

<div class="row">

</div>
